body {
  display: flex;
  background-color: black;
  padding: 10px;
  margin: 10px;
  height: 100vh;
}

.Home-Page {
  align-items: center;
  flex-direction: row;
  background-color: #4e3ca7;
  display: grid;
  grid-template-columns: 50% 50%;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
}

.Home {
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
  text-transform: capitalize;
  background-color: black;
  background-size: cover;
  height: 100%;
  padding: 50px;
  width: 100%;
}

.Home-Page #ul {
  list-style: none;
  font-size: 40px;
  font: bolder;
  padding: 7px;
}

.About{
  height:100%;
  padding-top: 80%;
  justify-content: column;
  align-items: center;
  /* display: flex; */

}

.fAicons {
  padding: 20px 10px;
  align-items: space-between;
  color: white;


}

.fAicons #facebook:hover{
  font-size: 40px;
  background-color: yellow;
  border-radius: 100%;

}
.fAicons #linkedin:hover{
font-size: 40px;
background-color: yellow;
  border-radius: 100%;
}
.fAicons #github:hover{
font-size: 40px;
background-color: yellow;
  border-radius: 100%;
}
.fAicons #codepen:hover{
font-size: 40px;
background-color: yellow;
  border-radius: 100%;
}
.fAicons #whatsapp:hover{ 
font-size: 40px;
background-color: yellow;
  border-radius: 100%;
}

#h1 {

  font-size: 20px;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;

}