body {
  background-color: black;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 20px;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
}

#h1 {

    font-size: 20px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
  
}

.Home-Page {
  display: grid;
  place-items: center;
  justify-content: center;
}

.Home {
  display: flex;
  background-color: black;
  justify-content: center;
  height: 100%;
}

.Heading {
  width: 50%;
  display: grid;
}

.picture {
  background: rgba(180, 181, 207, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  filter: grayscale(100%);
  object-fit: cover;
}

.picture1 {
  background: rgba(1, 13, 218, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

.Greeting {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-items: left;
  /* position: fixed; */
  text-transform: uppercase;
  background: rgba(106, 80, 80, 0.5);

  /* background: rgba(190, 36, 36, 0.5); */
  background-size: cover;

  color: white;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

/* portfolio */
.portfolio {
  background-color: black;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
}
.skills-image {
  font-size: 4em;
  height: 70px;
  width: calc(100% / 5 - 20px);
  min-width: 110px;
  flex-grow: 1;
  /* object-fit: contain; */
  text-align: center;

  background: rgba(255, 255, 255, 0.1);
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray;
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  transition: filter 0.4s linear;
  color: #ffc107;
  fill: #ffc107;

  box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
}
.skills-image:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}
#html {
  background-image: url(https://media.giphy.com/media/ZwMF9XIF7eo9i/giphy.gif);
}

#html:hover {
  background-color: black;
  background-image: none;
}

#css {
  background-image: url(https://media.giphy.com/media/ZwMF9XIF7eo9i/giphy.gif);
}

#css:hover {
  background-color: black;
  background-image: none;
}

#python {
  background-image: url(https://media.giphy.com/media/ZwMF9XIF7eo9i/giphy.gif);
}

#python:hover {
  background-color: black;
  background-image: none;
}

.download:hover {
  z-index: 100;
  font-size: 20px;
  font: bold;

}

.download {
  text-decoration: none;
  font-family: sans-serif;
  color: white;

}