* {
  box-sizing: border-box;
}

body {
  background-color: black;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#h1 {

  font-size: 20px;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;

}
.contact {
  background-color: black;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 50%;
}

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 50%;
  width: 100%;
}

.contact-input {
  max-width: 100%;
  width: 500px;
  height: 50px;
  border: none;
  border-bottom: solid 1px grey;
  font-size: 16px;
  padding-top: 10px 12px 0px 0;
  font-family: "Roboto", sans-serif;
  outline: none;
  background-color: black;
  margin-bottom: 10px;
  color: grey;
}

#message {
  height: 150px;
  padding-top: 30px;
  margin-bottom: 50px;
}
.contact-heading {
  margin-bottom: 30px;
}
.contact-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-details-heading {
  font-size: 30px;
  margin-bottom: 50px;
}
.description {
  font-size: 18px;
  margin-bottom: 60px;
}
.contact-icon {
  margin-right: 20px;
  font-size: 2rem;
}
.details {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 65%;
  margin-bottom: 50px;
}
.unite {
  margin-left: 50px;
}
.num {
  margin-left: 30px;
}
.button {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  height: 50px;
  color: beige;
  background-color: black;
  border: solid 2px white;

  width: 70%;
  transition: 0.3s ease-in;
}
.button:hover {
  color: white;
  background-color: rgb(34, 19, 19);
}

.word-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #251170;
  height: 100px;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}

#map {
  height: 100%;
  max-width: 40%;
  flex-wrap: wrap;
}

#contact {
  display: grid;
  justify-content: left;
  align-items: center;
  grid-template-rows: 3;
  grid-template-columns: 1;
  color: antiquewhite;
  background-color: #251170;
  font-family: sans-serif;
  max-width: 10%;
}
